Server/mywnv
db.txt
Client/node_modules
Client/dist
Server/.env
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.env
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Python / Backend
Server/mywnv/
Server/venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Node / Frontend
Client/node_modules/
Client/dist/
npm-debug.log*

# Environment Variables & Secrets (CRUCIAL)
.env
.env.*
!.env-example
*.pem

# Miscellanous
.DS_Store
db.txt